.menu{
    text-align: center;
    padding: 40px 100px;
    background: #edf8f8;
    min-height: 650px;
}
.banner h1{
    font-weight: 700;
    color: #00023d;
    position: relative;
    letter-spacing: 2px;
    padding: 10px;
}
.banner h1:after{
    content: "";
    background: #af9839;
    width: 100px;
    height: 5px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
}
.category button{
    border: 2px solid #af9839;
    border-right-color: #332b08;
    border-bottom-color: #332b08;
    border-radius: 6px;
    padding: 2px 10px;
    color:#af9839 ;
    transition: all 1s;
}
.category button:hover{
    background: #504408;
    color: white;
}
button+button{
    margin-left: 18px;
}
.content {
    text-align: justify;
}
.content .title{
    color: #00023d;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 2px;
}
.content img{
    border: 4px solid #af9839;
    border-radius: 10px;
}
.des{
    border-top: 1px dotted ;
    padding-top: 20px;
}
img{
    width: 200px;
    height: 150px;
    object-fit: cover;
}
.price{
    color: #af9839;
    font-size: 17px;
    font-weight: 500;
    letter-spacing: 2px;
}
.des{
    color: #5c5d85;
}
.item + .item:not(:nth-child(2)){
    margin-top: 40px;
}
@media only screen and (max-width: 700px){
    .menu{
        text-align: center;
        padding: 40px 20px;
        background: #edf8f8;
        min-height: 650px;
    }
}
@media only screen and (max-width: 1200px){
    .item + .item{
        margin-top: 40px;
    }
 }