/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    font-size: 20px;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
#mainNav
{
    border-radius: 20px;
}

.icon-nav
{
    font-size: 25px;
}
.btn-nav
{
    border-radius: 20px;
    width: 150px;
}
#nav-img
{
    width: 70px;
    height: 70px;
    object-fit:cover;
    border-radius: 50%;
}
#shopOnline
{
    display: block;
}
nav
{
    width: 99%;
    margin: 0.5em auto;
    background-color:rgb(255,255,255,0.95);
    font-weight: 600;
    position: sticky;
    top: 0;
}
.hidden-list
{
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    font-size:large;
    font-weight: 700;
    background-color: rgb(0, 0,0, 0.7);
    display: none;
}
.dot {
    cursor: pointer;
    height: 25px;
    width: 25px;
    margin: 0 2px;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
.nav-item__hover
{
    height: 2rem;
    align-items: center;
    padding: 0;
    position: relative;
}
.nav-item__hover:hover a::after
{
    color: white;
    content: "";
    width: 25px;
    height: 3px;
    background-color:orangered;
    position: absolute;
    top: 0;
    left: 3%;
}
.dropdownitem
{
    position: relative;
    color: black;
}
.dropdownitem:hover a::after{
    color: green;
    content: "";
    width: 25px;
    height: 3px;
    background-color:orangered;
    position: absolute;
    top: 5%;
    left: 0;
} 
.slide
{
    position: relative;
    
}
.buttonchange
{
    position: absolute;
    bottom: 11rem;
}
.card-hover:hover
{
    transform: scale(1.01);
}
#textheader
{
    font-size: larger;
}
.carouselimg
{
    height: 35rem;
    object-fit: cover;
    
}
.imgbackgroundbottom
{
    position: relative;
}
.imgmain
{
    height: 15rem;
    object-fit: cover;
    
    opacity: 0.1;
    
}
/* about us */
.aboutUs-html
{
   position: absolute;
    top: -65%;
    left: 10%;
    background-color: bisque;
    margin: 0 auto; 
    align-items:center;
}
.title-custom
{
    position: relative;
    font-size: 2rem;
    font-family:cursive;
    border-bottom: 2px dashed #B7DC36;
    display: inline-block;
    padding-bottom: 1rem;
}
.aboutUs-content
{
    margin-bottom: 2rem;
}
.aboutUs-content p
{
    font-size: 1rem;
}
.aboutUs-readMore a
{
    text-decoration: none;
    padding: 0.5rem;
    border: 2px solid #B7DC36;
    color: #B7DC36;
 
}

.aboutUs-readMore a:hover
{
    cursor: pointer;
    border: 2px solid #B7DC36;
    background:#B7DC36 ;
    color: white;
    
}

/* our product */
.productTitle h2
{
    display: inline-block;
    padding-bottom: 1rem;
    font-size: 2rem;
    font-family:cursive;
    border-bottom: 2px dashed #B7DC36;
}
@media only screen and (max-width: 1200px){
    .carouselimg
{
    height: 50rem;
    object-fit: cover;
    
}
.imgmain
{
    height: 19rem;
    object-fit: cover;
    
    opacity: 0.1;
    
}
 }


 
